.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--foreground);
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    height: 70px;
    background-image: linear-gradient(to right,#67629f59,#9570a6);
}
.menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.menu li{
    color: var(--foreground);
    font-weight: 900;
    display: flex;
    align-items: center;

    gap: 1rem;
}
.menu li:hover{
    color: #7e529a;
    border-bottom: solid 1px #7e529a;
    transition: all 0.2s ease-in;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img:hover{
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}